@import "../../../../node_modules/codemirror/lib/codemirror.css";
@import "../../../../node_modules/codemirror/theme/mbo.css";
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.editors {
  position: relative;
  flex: 1 100%;
  display: flex;
}

ui-codemirror {
  flex: 1;
}

.CodeMirror {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Inconsolata';
  font-size: 16px;
  font-weight: 600;

  .cm-matching-selection {
    border: 3px solid #515B4D;
    color: #DDD;
    background-color: #515B4D;
    border-right: 0;
    border-left: 0;
  }

}

.header {
  display: block;
  flex: 1 0;
  border-bottom: 2px solid #444;
  background-color: #666;
}

.header-container {
  display: flex;
}

h1 {
  font-size: 3rem;
}

.footer {
  display: block;
  flex: 1 0;
  background-color: #666;
  text-align: center;
  color: #000;
  font-size: 14px;
  a {
    color: #BBB;
    text-decoration: none;
    font-weight: 800;
  }
}

.logo, .number-of-matches {
  flex: 1;
  text-align: center;
  line-height: 35px;
  height: 35px;
}

.logo {
  color: #FFF;
  font-size: 26px;
}

.number-of-matches {
  color: black;
  font-size: 14px;
}

.json-selector-input {
  flex: 4;
  border: 0;
  height: 35px;
  font-size: 15px;
  line-height: 15px;
  color: #222;
  border-left: 2px solid #444;
  border-right: 2px solid #444;
  background-color: #EEE;
  vertical-align: top;
  font-weight: 600;
}

.error-growl {
  position: absolute;
  background-color: rgba(248, 0, 0, 0.25);
  bottom: 25px;
  right: 25px;
  width: 450px;
  padding: 10px;
  color: #FFF;
  border-radius: 2px;
  line-height: 15px;
  z-index: 10;
  &:hover {
    background-color: #7D1A1A;
  }
  .error-growl-title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.start-quote, .end-quote {
  font-size: 25px;
}

.start-quote {
  margin-right: 10px;
}

.end-quote {
  margin-left: 10px;
}
